<ng-container *ngIf="(filmsFacade.films$ | async) as response">
  <mat-progress-bar *ngIf="response.loading" mode="indeterminate"></mat-progress-bar>

  <div class="controls">
    <button
      mat-raised-button
      color="primary"
      [disabled]="!response.previous"
      (click)=" response.previous ? nextPeople(response.previous) : ''"
    >Prev</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!response.next"
      (click)="response.next ? nextPeople(response.next) : ''"
    >Next</button>
  </div>

  <div *ngIf="!response.loading" class="container" @inOutPaneAnimation>
    <mat-card *ngFor="let film of response.films" class="card">
      <mat-card-header>
        <mat-card-title>
          {{ film.title }}
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="card__content">
        <div class="ch">
          <p>Director</p>
          <p>Producer</p>
        </div>
        <div>
          <p class="cd">{{ film.director }}</p>
          <p class="cd">{{ film.producer }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
