<ng-container *ngIf="(peopleFacade.people$ | async) as response">
  <mat-progress-bar *ngIf="response.loading" mode="indeterminate"></mat-progress-bar>

  <div class="controls">
    <button
      mat-raised-button
      color="primary"
      [disabled]="!response.previous"
      (click)=" response.previous ? nextPeople(response.previous) : ''"
    >Prev</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!response.next"
      (click)="response.next ? nextPeople(response.next) : ''"
    >Next</button>
  </div>

  <div *ngIf="!response.loading" class="container" @inOutPaneAnimation>
    <mat-card *ngFor="let person of response.people" class="card">
      <mat-card-header>
        <mat-card-title>
          {{ person.name }}
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="card__content">
        <div class="ch">
          <p>Gender</p>
          <p>Hair color</p>
          <p>Eye color</p>
          <p>Height</p>
          <p>Mass</p>
        </div>
        <div>
          <p class="cd">{{ person.gender }}</p>
          <p class="cd">{{ person.hair_color }}</p>
          <p class="cd">{{ person.eye_color }}</p>
          <p class="cd">{{ person.height }}</p>
          <p class="cd">{{ person.mass }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
