<ng-container *ngIf="(peopleFacade.people$ | async) as peopleResponse">
  <mat-progress-bar *ngIf="peopleResponse.loading" mode="indeterminate" value="40" class="progress"></mat-progress-bar>

  <div class="controls">
    <button
      mat-raised-button
      color="primary"
      [disabled]="!peopleResponse.previous"
      (click)=" peopleResponse.previous ? nextPeople(peopleResponse.previous) : ''"
    >Prev</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!peopleResponse.next"
      (click)="peopleResponse.next ? nextPeople(peopleResponse.next) : ''"
    >Next</button>
  </div>

  <div *ngIf="!peopleResponse.loading" class="container" @inOutPaneAnimation>
    <mat-card *ngFor="let person of peopleResponse.people" class="card">
      <mat-card-header>
        <mat-card-title>
          {{ person.name }}
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="card__content">
        <div class="ch">
          <p>Gender</p>
          <p>Hair color</p>
          <p>Eye color</p>
          <p>Height</p>
          <p>Mass</p>
        </div>
        <div>
          <p class="cd">{{ person.gender }}</p>
          <p class="cd">{{ person.hair_color }}</p>
          <p class="cd">{{ person.eye_color }}</p>
          <p class="cd">{{ person.height }}</p>
          <p class="cd">{{ person.mass }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
