<div class="main">
  <div class="content">

    <p class="content__text first">
      Welcome to the ultimate destination for all things Star Wars! Explore the rich tapestry of the galaxy far, far away, from iconic characters and thrilling adventures to the latest news and exclusive insights.
    </p>

    <p class="content__text third">
      Whether you're a seasoned Jedi or a curious Padawan, this is your portal to the epic saga that has captured the hearts of millions across the galaxy. May the Force be with you!
    </p>
  </div>
</div>
